html {
    margin: 0;
    background-color: black;
    color: white;
}

body {
    margin: auto 2rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:darkslategray;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 2rem;
    box-sizing: border-box;
}

h1 {
    margin: 1rem;
}

a {
    color: white;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin: 0 2rem;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

main {
    margin-top: 5rem;
}

h2 {
    color:aqua;
}

p {
    font-size: 1.2rem;
}

.anchor {
    scroll-margin-top: 5rem;
}

#about-me p {
    margin: auto 2rem;
}

.project-container {
    margin: 1rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    background-color:darkcyan;
    column-gap: 2rem;
}

.project-description {
    font-size: 150%;
}

#projects img {
    width: 100%;
    cursor: pointer;
}

#skills ul {
    display: flex;
}

#skills li {
    list-style: none;
    margin: 1rem 2rem;
    font-size: 3rem;
}

#contact ul {
    display: flex;
}

#contact li {
    list-style: none;
    margin: 1rem 2rem;
    font-size: 3rem;
}